# Dependencies
node_modules/
apps/web/dist/
apps/api/dist/
packages/db/dist/
packages/shared/dist/
packages/db/src/*.js
packages/db/src/*.js.map
packages/db/src/*.d.ts
packages/shared/src/*.js
packages/shared/src/*.js.map
packages/shared/src/*.d.ts

# Environment variables
.env

# App data
.gemini/
.agent/
packages/db/data/

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
